:root {
    --primary: #ffffff;
    --secondary: #080808;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

header {
    background-color: blueviolet;
    height: 100px;
}
header h1 {
    color: var(--primary);
    padding-top: 15px;
    
}

main {
   margin-top: 10px;
}
.search-history {
  margin-left: 10px;
  border-bottom: 2px solid #6e6d6d;
}

#title {
  font-size: 30px;
}

.btn {
    font-size: 20px;
    width: 100%;
    display: block;
    border-radius: 5px;
    margin-top: 10px;
    background-color: rgb(80, 160, 235);
    color: var(--primary);
    outline: auto;
  }
  #current-tab {
    border: 2px solid #080808;
    height: 300px;
    margin-right: 10px;
  
  }
  #current-tab {
    padding-left: 10px;
    font-size: 20px;
  }

.list-group-item {
  font-size: 15px;
  width: 100%;
  display: block;
  border-radius: 5px;
  margin-top: 10px;
  background-color: rgb(169, 170, 173);
  color: var(--secondary);
  margin-left: 10px;
}

#forecast-tab {
  margin-top: 10px;
}

#forecast {
  justify-content: space-around;
}
.card {
  background-color: rgb(19, 52, 95);
  color: var(--primary);
}




  
